<!DOCTYPE html>
<html>
  <head>
    <title>Kohaku</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <heaer>
    <h3>コハク日記</h3>
    <li>home</li>
    <li>subject</li>
    <li>about</li>
  </heaer>
    
    
    
    <%= yield %>
    
  <footer>
    
  </footer>  
  </body>
</html>
